@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  font-family: var(--font-inter), sans-serif; 
}

body {
  font-family: var(--font-inter), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}



/* Style 2 card aline */
@media screen and (min-width:830px ) {
  #skills-2Card{
    flex-direction: row;
    gap: 8px;
  }
  #project-2Card{
    flex-direction: row;
    gap: 8px;
  }
}
@media screen and (min-width:930px ) {
  #skills-2Card{
    gap: 32px;
  }
  #project-2Card{
    gap: 32px;
  }
}

