@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray: #1F2937;
  --blue: #3E63DD ;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

/* about me background */
.about-Background{
  background-image: url('../assets/image/background/blob-scene.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 600px;
}
/* Home background */
.Hero-Background{
  background-image: url('../assets/image/background/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
}
/* Webs background */
.Waves-Background{
  background-image: url('../assets/image/background/waves.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
